USE [TechNovaHR]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 3/19/2026 7:46:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentCode] [nvarchar](50) NULL,
	[DepartmentName] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeDepartments]    Script Date: 3/19/2026 7:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDepartments](
	[EmployeeId] [int] NULL,
	[DepartmentId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 3/19/2026 7:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[DOB] [date] NULL,
	[Salary] [decimal](18, 2) NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[DepartmentId] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/19/2026 7:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](200) NULL,
	[Role] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [DepartmentCode], [DepartmentName], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (12, N'HR123', N'HR', CAST(N'2026-03-19T00:20:00.550' AS DateTime), NULL, 1)
INSERT [dbo].[Departments] ([Id], [DepartmentCode], [DepartmentName], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (13, N'IT125', N'IT', CAST(N'2026-03-19T00:20:14.553' AS DateTime), CAST(N'2026-03-19T17:35:14.287' AS DateTime), 1)
INSERT [dbo].[Departments] ([Id], [DepartmentCode], [DepartmentName], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (14, N'ADT001', N'Audit', CAST(N'2026-03-19T01:59:42.640' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
INSERT [dbo].[EmployeeDepartments] ([EmployeeId], [DepartmentId]) VALUES (1, 1)
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [FirstName], [LastName], [Email], [DOB], [Salary], [EmployeeCode], [DepartmentId], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (3, N'Induwara', N'Ananda', N'induwara0399@gmail.com', CAST(N'1999-03-11' AS Date), CAST(255000.00 AS Decimal(18, 2)), N'10219', 15, NULL, CAST(N'2026-03-19T16:58:28.433' AS DateTime), 1)
INSERT [dbo].[Employees] ([Id], [FirstName], [LastName], [Email], [DOB], [Salary], [EmployeeCode], [DepartmentId], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (4, N'Rashmin', N'Induwara', N'induwara@gmail.com', CAST(N'1994-02-20' AS Date), CAST(180000.00 AS Decimal(18, 2)), N'10223', 13, NULL, CAST(N'2026-03-19T01:59:10.233' AS DateTime), 0)
INSERT [dbo].[Employees] ([Id], [FirstName], [LastName], [Email], [DOB], [Salary], [EmployeeCode], [DepartmentId], [CreatedDate], [UpdatedDate], [IsActive]) VALUES (5, N'Kalana', N'Mihiranga', N'kalana@gmail.com', CAST(N'1996-07-11' AS Date), CAST(69000.00 AS Decimal(18, 2)), N'10222', 16, CAST(N'2026-03-19T01:56:33.040' AS DateTime), CAST(N'2026-03-19T17:52:02.187' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Role]) VALUES (10, N'admin', N'admin123', N'Admin')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role]) VALUES (11, N'hr', N'hr123', N'HR')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role]) VALUES (12, N'user', N'user123', N'User')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__6EA8896D463AC4F3]    Script Date: 3/19/2026 7:46:42 PM ******/
ALTER TABLE [dbo].[Departments] ADD UNIQUE NONCLUSTERED 
(
	[DepartmentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Department] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Department]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddDepartment]    Script Date: 3/19/2026 7:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_AddDepartment]
    @Code NVARCHAR(50),
    @Name NVARCHAR(100)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Departments WHERE DepartmentCode = @Code)
    BEGIN
        RAISERROR('Department Code already exists',16,1)
        RETURN
    END

    INSERT INTO Departments (DepartmentCode, DepartmentName)
    VALUES (@Code, @Name)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AddEmployee]    Script Date: 3/19/2026 7:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AddEmployee]
    @Code NVARCHAR(50),
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Email NVARCHAR(100),
    @DOB DATE,
    @Salary DECIMAL(18,2),
    @DepartmentId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF EXISTS (SELECT 1 FROM Employees WHERE EmployeeCode = @Code)
        BEGIN
            RAISERROR('Employee Code already exists',16,1)
            RETURN
        END

        INSERT INTO Employees
        (
            EmployeeCode,
            FirstName,
            LastName,
            Email,
            DOB,
            Salary,
            DepartmentId
        )
        VALUES
        (
            @Code,
            @FirstName,
            @LastName,
            @Email,
            @DOB,
            @Salary,
            @DepartmentId
        )

        SELECT CAST(SCOPE_IDENTITY() AS INT) AS Id

    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(MAX) = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage,16,1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteDepartment]    Script Date: 3/19/2026 7:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DeleteDepartment]
    @Id INT
AS
BEGIN
    UPDATE Departments
    SET IsActive = 0
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteEmployee]    Script Date: 3/19/2026 7:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DeleteEmployee]
    @Id INT
AS
BEGIN
    UPDATE Employees
    SET IsActive = 0
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDepartmentById]    Script Date: 3/19/2026 7:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetDepartmentById]
    @Id INT
AS
BEGIN
    SELECT * FROM Departments
    WHERE Id = @Id AND IsActive = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetDepartments]    Script Date: 3/19/2026 7:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetDepartments]
AS
BEGIN
    SELECT * FROM Departments
    WHERE IsActive = 1
    ORDER BY Id DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetEmployees]    Script Date: 3/19/2026 7:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetEmployees]
AS
BEGIN
    SELECT 
        e.Id,
        e.EmployeeCode,
        e.FirstName,
        e.LastName,
        e.Email,
        e.DOB,
        e.Salary,
        e.DepartmentId,
        d.DepartmentName
    FROM Employees e
    INNER JOIN Departments d ON e.DepartmentId = d.Id
    WHERE e.IsActive = 1
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByUsername]    Script Date: 3/19/2026 7:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserByUsername]
    @Username NVARCHAR(100)
AS
BEGIN
    SELECT * FROM Users WHERE Username = @Username
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDepartment]    Script Date: 3/19/2026 7:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateDepartment]
    @Id INT,
    @Code NVARCHAR(50),
    @Name NVARCHAR(100)
AS
BEGIN
    IF EXISTS (
        SELECT 1 FROM Departments 
        WHERE DepartmentCode = @Code AND Id <> @Id
    )
    BEGIN
        RAISERROR('Department Code already exists', 16, 1)
        RETURN
    END

    UPDATE Departments
    SET 
        DepartmentCode = @Code,
        DepartmentName = @Name,
        UpdatedDate = GETDATE()
    WHERE Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateEmployee]    Script Date: 3/19/2026 7:46:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateEmployee]
    @Id INT,
    @Code NVARCHAR(50),
    @FirstName NVARCHAR(50),
    @LastName NVARCHAR(50),
    @Email NVARCHAR(100),
    @DOB DATE,
    @Salary DECIMAL(18,2),
    @DepartmentId INT
AS
BEGIN
    UPDATE Employees
    SET 
        EmployeeCode = @Code,
        FirstName = @FirstName,
        LastName = @LastName,
        Email = @Email,
        DOB = @DOB,
        Salary = @Salary,
        DepartmentId = @DepartmentId,
        UpdatedDate = GETDATE()
    WHERE Id = @Id
END
GO
